---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Import partials
@import "https://css.blaze.design/reset.css";
@import "https://css.blaze.design/gui.css";
@import "custom";